<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <div class="center">
        <h1>Admin Panel</h1>
        <a href="/natural_form">Natural Form</a> / <a href="/spare_form">Car Spare Part Form</a>

    </div>

    <div class="box">
        <table>
            <tr>
                <th>name</th>
                <th>order products</th>
                <th>amount</th>
                <th>phone number</th>
            </tr>
            {% for i in order %}
            <tr>
                <td>{{i.user_name}}</td>
                <td>{{i.orderd_item}}</td>
                <td>{{i.amount_item}}</td>
                <td>{{i.user_number}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


</body>

<style>
    .center{
        display: block;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .box{
        padding: auto;
        border-color: black;
        border-radius: 20px;
        background-color: white;
        font-family: arial;
        text-align: center;
    }

    th{
        text-align: center;

    }

    a{
        color: white;
        text-decoration: none;
    }
   
    
    body{
        background-color: orange;
    }

</style>
</html>