<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <div class="center">
        <h1>Admin Panel</h1>
        <a href="/natural_form">Natural Form</a> / <a href="/spare_form">Car Spare Part Form</a>

        <div class="box">
            <table>
                <tr>
                    <th>name</th>
                    <th>order products</th>
                    <th>amount</th>
                    <th>phone number</th>
                </tr>
            </table>
        </div>

    </div>


</body>

<style>
    .center{
        display: block;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    table{
        flex: 10px;
    }

    a{
        color: white;
        text-decoration: none;
    }
   
    
    body{
        background-color: orange;
    }

</style>
</html>